<html data-color-mode="auto" data-light-theme="light" data-dark-theme="dark_dimmed" prefix="og: http://ogp.me/ns#" lang="{{ .Language }}">

{{- partial "head.html" . -}}

<body class="d-lg-flex">
    {{- partial "header.html" . -}}

    {{- partial "sidebar.html" . -}}

    <main class="flex-1 min-width-0 overflow-y-scroll" style="height: 100vh;">
        <div className="d-md-none">
        </div>
        {{- block "main" . }}{{- end }}
    </main>

    {{- partial "footer.html" . -}}
</body>

{{- block "embedded-script" . }}{{- end }}
</html>