<html data-color-mode="auto" data-light-theme="light" data-dark-theme="dark_dimmed" prefix="og: http://ogp.me/ns#"
  lang="{{ .Language }}">

{{- partial "head.html" . -}}

<body class="width-full overflow-hidden">
  <main class="d-flex flex-auto flex-row width-full overflow-hidden" style="height: 100%">
    {{- partial "sidebar.html" . -}}

    <div class="d-flex flex-column width-full overflow-y-auto" style="height: 100%">
      {{- block "main" . }}{{- end }}
    </div>
  </main>

</body>

{{- block "embedded-script" . }}{{- end }}

</html>