{{ define "main" }}

{{ partial "breadcrumbs.html" . }}

<div class="article-grid-head">
    <div class="d-flex flex-items-baseline flex-justify-between mt-3">
        <h1 class="border-bottom-0">{{.Title}}</h1>
    </div>
    <div class="lead-mktg">
        <p>{{.Description}}</p>
    </div>
    {{.Content}}
</div>

<div id="article-contents" class="article-grid-body">

    {{ range .Pages }}
    <a class="link-with-intro Bump-link--hover no-underline" href="{{.Permalink}}">
        <h4 class="link-with-intro-title">{{.Title}}</h4>
    </a>
    <p class="link-with-intro-intro">
        {{.Description}}
    </p>
    {{ end }}

</div>

{{ end }}