{{ define "main" }}

<div class="container-xl p-3 p-md-6 width-full">

    {{ partial "breadcrumbs.html" . }}

    <div class="d-flex flex-column flex-xl-row-reverse markdown-body">

        <div class="toc p-3 flex-self-start">
            <h3 id="in-this-article" class="f5 mb-2">
                <a class="" href="#in-this-article">
                    Contents
                </a>
            </h3>
            <div class="f6">{{ .TableOfContents }}</div>
        </div>

        <div class="flex-1">
            <h1 class="border-bottom-0">{{.Title}}</h1>
            <p>{{.Description}}</p>

            <div>
            {{.Content}}

            {{ if isset .Params "series" }}
                {{ $seriesTitle := index .Params.series 0 }}
                {{ $currentLink := .Permalink }}
                {{ $wholeSeries := (index .Site.Taxonomies.series ($seriesTitle | urlize)).Pages.ByWeight }}

                {{ range $index, $page := $wholeSeries }}
                    {{ if eq $currentLink $page.Permalink }}
                    {{ if gt $index 0 }}
                        {{ .Scratch.Set "prevInSeries" (index $wholeSeries (sub $index 1)) }}
                    {{ end }}
                    {{ if lt $index (sub (len $wholeSeries) 1) }}
                        {{ .Scratch.Set "nextInSeries" (index $wholeSeries (add $index 1)) }}
                    {{ end }}
                    {{ end }}
                {{ end }}

                {{ range (index .Site.Taxonomies.series ($.Param "menu.side.identifier")).Pages.ByWeight }}
                <div class="box Box-row--hover-gray px-3 mt-3">
                    <a title="{{.Title}}" href="{{.Permalink}}">
                        <h4>{{.Title}}</h4>
                    </a>
                    <p>
                        {{.Description}}
                    </p>
                </div>
                {{ end }}

                <nav class="paginate-container" aria-label="Pagination">
                    <div class="pagination">
                        {{ with index .Scratch.Values "prevInSeries" }}
                        <a class="previous_page" rel="next" href="{{ .Permalink }}" aria-label="Previous Page">{{ .Title
                            }}</a>
                        {{ else }}
                        <span class="previous_page" aria-disabled="true">Previous</span>
                        {{ end }}

                        <a class="text-gray-light" href="." aria-label="Top">{{ .Name}}</a>

                        {{ with index .Scratch.Values "nextInSeries" }}
                        <a class="next_page" rel="next" href="{{ .Permalink }}" aria-label="Next Page">{{ .Title }}</a>
                        {{ else }}
                        <span class="next_page" aria-disabled="true">Next</span>
                        {{ end }}
                    </div>
                </nav>

                {{ end }}

                <hr />

                <div class="contribution">
                    <h4>Help us improve</h4>
                    <p class="text-gray f6">Azure Citadel is a community site built on GitHub, please contribute and send a pull request</p>
                    <a class="btn btn-outline" href="https://github.com/azurecitadel/azurecitadel/edit/main/content/{{ with .File }}{{ .Path }}{{ end }}">
                        {{- partial "octicon" (dict "icon" "git-pull-request" "height" 16) -}}&nbsp;Make a change
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}