{{ define "main" }}

{{ partial "breadcrumbs.html" . }}

<div class="mt-2 article-grid-container">

    <div class="article-grid-head">
        <div class="d-flex flex-items-baseline flex-justify-between mt-3">
            <h1 class="border-bottom-0">{{.Title}}</h1>
        </div>

        <div class="lead-mktg">
            <p>{{.Description}}</p>
        </div>
    </div>

    <div class="article-grid-toc border-bottom border-xl-0 pb-4 mb-5 pb-xl-0 mb-xl-0">
        <div class="article-grid-toc-content">

            <h3 id="in-this-article" class="f5 mb-2">
                <a class="link-gray-dark" href="#in-this-article">
                    Contents
                </a>
            </h3>
            {{ .TableOfContents }}
        </div>
    </div>

    <div id="article-contents" class="article-grid-body">
        {{.Content}}
    </div>
</div>

{{ end }}