{{ define "main" }}

<section class="container-xl pb-lg-4 my-8 px-3 px-md-6">
	<div class="d-flex flex-wrap gutter gutter-xl-spacious">

		<article class="markdown-body col-md-10 col-lg-7 mx-auto">
			<h1>Ooops!</h1>
			<div class="lead-mktg mb-5">It looks like this page doesn't exist (yet!).</div>
			<a href="{{ .Site.BaseURL }}" class="pl-4 pr-2 py-2 f6 text-uppercase d-block flex-auto mr-3">Return home</a>


			<a href="https://github.com/azurecitadel/azurecitadel/discussions/" class="pl-4 pr-2 py-2 f6 text-uppercase d-block flex-auto mr-3">Start a discussion</a>
			
		</article>
	</div>
</section>

{{ end }}