{{ define "main" }}

{{.Site.Home.Content}}

<section class="container-xl pb-lg-4 my-8 px-3 px-md-6">
	<h3 class="text-mono f5 text-normal text-gray text-md-center mb-4">Explore by section</h3>
	<div class="d-flex flex-wrap gutter gutter-xl-spacious">

		{{ range .Site.Menus.section }}

		<div class="d-flex flex-column col-12 col-sm-6 col-lg-3 pb-4">
			<a class="btn-mktg flex-auto btn-outline-mktg btn-large-mktg ws-normal " href="{{ .URL }}"
				title="{{ .Name }}">{{ .Name }}
			</a>
		</div>

		{{ end }}
	</div>
</section>

{{ end }}