<head>
    <title>
        {{ block "title" . }}
        {{ .Title}}{{ if ne .Title .Site.Title }} - {{ .Site.Title }}{{ end }}
        {{ end }}
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ .Description }}">

    <link rel="stylesheet" href="{{ `css/main.css` | relURL }}">
    <link rel="stylesheet" href="{{ `css/primer.css` | relURL }}">
    <link rel="canonical" href="{{ .Permalink }}">
</head>
