<div class="d-none"></div>

<div class="d-none d-lg-block bg-primary height-fit overflow-y-scroll pb-5 border-right col-4" style="max-width: 310px; height: -webkit-fill-available">

  <div class="d-flex flex-items-center p-4 color-bg-default" style="z-index: 3" id="citadel-logo" role="banner">
    <a href="{{.Site.BaseURL }}" class="color-fg-default" aria-hidden="true" tabIndex="-1">
      <svg version="1.1" width="32" height="32" viewBox="0 0 64 64" class="octicon" aria-hidden="true">
        <path d="M14.62 55H64L37.4 8.91l-8.1 22.25 15.56 18.5L14.62 55zM35.28 4.84l-19 15.95L0 48.98h14.68l20.6-44.14z">
        </path>
      </svg>
    </a>
    <a href="{{.Site.BaseURL }}" class="f4 text-semibold color-fg-default no-underline no-wrap pl-2 flex-auto">
      Azure Citadel
    </a>
  </div>

  <nav>
    <ul class="ActionList pl-3 p-0" aria-label="Azure Citadel content list">

      {{ $currentPage := . }}

      {{ range .Site.Menus.side }}

      {{ $isActive := or ($currentPage.HasMenuCurrent "side" .) ($currentPage.IsMenuCurrent "side" .) }}
      {{ $isCurrent := $currentPage.IsMenuCurrent "side" . }}

      <li class="my-2 ActionList-item {{ if .HasChildren }}ActionList-item--hasSubItem{{ end }} {{ if $isActive }}color-bg-inset{{ end }}" aria-haspopup="true" style="margin-left: -20px; padding-left: 20px">
        {{ .Pre }}
        <details class="details details-reset" {{ if $isActive}}open="true"{{ end }}>
          <summary class="outline-none">
            {{ if .HasChildren }}
            <div class="ActionList-content">
              <span class="ActionList-item-label {{ if $isCurrent }}color-fg-accent{{ end }}">{{ .Name }}</span>
              <span class="ActionList-item-action ActionList-item-action--trailing">{{- partial "octicon" (dict "icon" "chevron-down" "height" 16) -}}</span>
            </div>
            {{ else }}
            <a title="{{ .Name }}" href="{{ .URL }}" class="ActionList-content">
              <span class="ActionList-item-label">{{ .Name }}</span>
            </a>
            {{ end }}
          </summary>

          {{ if .HasChildren }}
          <ul class="ActionList ActionList--subGroup" aria-labelledby="{{ .Name }}">
            {{ range .Children }}

            {{ $isActive := or ($currentPage.HasMenuCurrent "side" .) ($currentPage.IsMenuCurrent "side" .) }}
            {{ $isCurrent := $currentPage.IsMenuCurrent "side" . }}

            <li class="ActionList-item ActionList-item--subItem {{ if and $isCurrent (not .HasChildren) }}ActionList-item--navActive{{ end }} {{ if .HasChildren }}ActionList-item--hasSubItem{{ end }}" aria-haspopup="true">
              {{ .Pre }}
              <details class="details details-reset" {{ if $isActive}}open="true"{{ end }}>
                <summary class="outline-none">
                  {{ if .HasChildren }}
                  <div class="ActionList-content">
                    <span class="ActionList-item-label {{ if $isActive }}color-fg-accent{{ end }}">{{ .Name }}</span>
                    <span class="ActionList-item-action ActionList-item-action--trailing">{{- partial "octicon" (dict "icon" "chevron-down" "height" 16) -}}</span>
                  </div>
                  {{ else }}
                  <a title="{{ .Name }}" href="{{ .URL }}" class="ActionList-content">
                    <span class="ActionList-item-label">{{ .Name }}</span>
                  </a>
                  {{ end }}
                </summary>

                {{ if .HasChildren }}
                <ul class="ActionList ActionList--subGroup" aria-labelledby="{{ .Name }}">
                  {{ range .Children }}

                  {{ $isActive := or ($currentPage.HasMenuCurrent "side" .) ($currentPage.IsMenuCurrent "side" .) }}
                  {{ $isCurrent := $currentPage.IsMenuCurrent "side" . }}

                  <li class="ActionList-item ActionList-item--subItem {{ if $isCurrent }}ActionList-item--navActive{{ end }}">
                    {{ .Pre }}
                    <a title="{{ .Name }}" href="{{ .URL }}" class="ActionList-content">
                      <span class="ActionList-item-label">{{ .Name }}</span>
                    </a>
                  </li>
                  {{ end }}
                </ul>
                {{ end }}
              </details>
            </li>

            {{ end }}
          </ul>
          {{ end }}
      </li>

      {{ end }}
    </ul>
  </nav>
</div>